* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#frame {
    background-color: #E4EBFF;
    max-width: 1600px;
    width: 100%;
    padding: 70px;
    margin: 0 auto;
    margin-top: 64px;
    margin-bottom: 50px;
}

#conteiner {
    background-color: #FFF;
    max-width: 100%;
    margin: 0 auto;
}

#header {
    width: 100%;
    text-align: center;
    padding: 96px;
}

#headertitle {
    color: #6941C6;
    font-size: 15px;
}

#header-title-too {
    color: #181D27;
    font-size: 45px;
}


#header-title-three {
    color: #535862;
    font-size: 20px;
    margin-top: 32px;
}

#conteiner-box {
    width: 100%;
}


#content {
    width: 100%;
    margin-left: 70px;
}

#content-text {
    display: inline-block;
    vertical-align: middle;
    margin-top: 20px;
    width: 48%;
}

#content-title {
    color: #181D27;
    font-size: 35px;
}

#content-whenther {
    color: #535862;
    font-size: 21px;
    margin-top: 10px;
}

#content-box {
    margin: 40px;
}

#chek {
    display: inline-block;
    vertical-align: middle;
}

#chek-text {
    color: #535862;
    margin-left: 12px;
    vertical-align: middle;
    display: inline-block;

}

#icon-div {
    margin-top: 10px;
}

#icon {
    display: inline-block;
    vertical-align: middle;
}

#icon-text {
    color: #535862;
    margin-left: 12px;
    vertical-align: middle;
    display: inline-block;
}

#icon-div {
    margin-top: 10px;
}


#finish-div {
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
}


#finish-logo-text {
    color: #535862;
    margin-left: 12px;
    vertical-align: middle;
    display: inline-block;
}

#images-dolar {
    vertical-align: middle;
    display: inline-block;
    margin-left: 50px;
    margin-top: 80px;
    width: 48%;
}






#conteiner-too {
    width: 100%;
}

#conteiner-too-img {
    display: inline-block;
    vertical-align: middle;
    margin-top: 40px;
    width: 48%;
}


#conteiner-too-text {
    display: inline-block;
    vertical-align: middle;
    width: 48%;
    margin-left: 40px;
}

#title-text-conteiner {
    font-size: 40px;
    color: #181D27;


}

#text-customer {
    font-size: 20px;
    color: #535862;
    margin-top: 10px;
}

#conteiner-icon {
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;



}

#icon-text-too {
    color: #535862;
    margin-left: 12px;
    vertical-align: middle;
    display: inline-block;
    margin-top: 10px;
    font-size: 20px;


}

#conteiner-icon-three {
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
}


#icon-text-three {
    color: #535862;
    margin-left: 12px;
    vertical-align: middle;
    display: inline-block;
    margin-top: 10px;
    font-size: 20px;
}


#box-finish {
    width: 100%;
    margin-left: 20px;
    margin-top: 40px;
}


#box-text {
    display: inline-block;
    vertical-align: middle;
    margin-top: 40px;
    width: 48%;
}


#title-box-finish {
    font-size: 40px;
    color: #181D27;
    margin-top: 10px;
}


#box-text-matters {
    color: #535862;
    font-size: 25px;
    margin-top: 10px;
}

#boxicontext {
    margin-top: 20px;
}

#box-icon {
    display: inline-block;
    vertical-align: middle;
}


#box-text {
    color: #535862;
    margin-left: 12px;
    vertical-align: middle;
    display: inline-block;
    margin-top: 10px;
    font-size: 15px;
}

#box-icon-too {
    display: inline-block;
    vertical-align: middle;
}

#box-text-too {
    color: #535862;
    margin-left: 12px;
    vertical-align: middle;
    display: inline-block;
    margin-top: 10px;
    font-size: 15px;
}

#box-icon-three {
    display: inline-block;
    vertical-align: middle;
}

#box-text-thre {
    color: #535862;
    margin-left: 12px;
    vertical-align: middle;
    display: inline-block;
    margin-top: 10px;
    font-size: 15px;
}


#box-finish-dolar {
    vertical-align: middle;
    display: inline-block;
    margin-left: 50px;
    margin-top: 80px;
    width: 47%;
    margin-bottom: 40px;
}